<div class="home-wrapper container d-flex justify-content-center align-items-center flex-column">
    <button class="start-btn btn btn-primary"><a class="nav-link" routerLink="/form">Start quiz</a></button>

    <table class="stats table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
            <th scope="col">Seconds</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let player of players; index as i">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td>{{player.username}}</td>
              <td>{{player.points}}</td>
              <td>{{player.time}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
</div>