<div class="container">
    <nav class="navbar navbar-expand">
        <div class="navbar-brand py-0">
            <h1 class="title navbar display-4 py-0">Quiz</h1>
        </div>
        <div class="container d-flex justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item px-3 my-1">
                    <h4><a class="nav-link" routerLink="/">Home</a></h4>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><button class="btn btn-outline-danger">Log out</button></a>
                </li>
            </ul>
        </div>
    </nav>
</div>